.App {
  display: flex;
  flex-direction: column;
}

.divider {
  color: #757575;
  border: 0.5px solid;
}

.main-content {
  margin-top: 64px;
  padding: 24px;
}

.home-wrapper {
  width: 1280px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.register-area {
  display: flex;
  justify-content: center;
}

.blocklist-container {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-auto-flow: row;
  gap: 10px;
  margin: 0 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 90;
  background: rgba(0, 0, 0, 0.75);
}

.loading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateY(-16%);
}

.loading-title {
  margin-top: 50px;
  font-size: 48px;
  color: #fff;
}

.dcm-modal-box {
  position: fixed;
  display: flex;
  overflow: hidden;
  min-width: 500px;
  /* min-height: 550px; */
  left: 50%;
  top: 3.5rem;
  transform: translate(-50%, 0);
  z-index: 999;
}

.dcm-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #bbc0c5;
}

.dcm-modal-header h1 {
  margin: 0;
  color: black;
}

.dcm-modal-body {
  padding: 16px;
}

.dcm-modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding: 16px;
  border-top: 1px solid #bbc0c5;
}

.app-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  border: 1px solid #000;
}

.content-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.img-container img {
  padding: 10px;
  object-fit: scale-down;
  width: 50%;
  height: 50%;
  align-items: center;
  justify-content: center;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.btn-corner {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  z-index: 1;
  border: none;
}

.wait {
  width: 400px;
  margin: 0px auto 0px auto;
  position: relative;
}

#wait {
  max-width: 170px;
  animation: wait 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

textarea {
  padding: 8px;
}

.error-text {
  color: #ff0000;
}

.textarea-error {
  border-color: #ff0000;
  outline-color: #ff0000;
}

table {
  /* table-layout: fixed; */
  display: table;
  width: 100%;
  /* overflow-x: scroll; */
  border-spacing: 0;
  /* overflow-x: scroll;
  overflow-y: scroll; */
  border-collapse: collapse;
  line-height: 1.5;
}

.hash-wrapper {
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  max-width: 50vw;
}

@keyframes wait {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: 100px;
  }
}
