.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 200px;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}





.copyright-upload-container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.image-display{
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: 0px auto ;
  text-align: center;
  color: #495057;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.image-display img {
  /* height: 360px; */
  object-fit: scale-down;
  width: 100%;  
  height: 100%;

}




.main {
  padding: 140px 0;
}

.blocklist-container {
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-auto-flow: row;
  gap: 10px;
  margin: 0 10px;
}


.content-detail img{
  padding: 10px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal-box{
  position: fixed;
  /* top: 21vh; */
  left: 10%;
  width: 80%;
  z-index:100;
  overflow: hidden;
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.modal-header {
  background: #4f005f;
  padding: 1rem;
}

.modal-header h2 {
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
}

.app-card  {
  padding : 5px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.btn-corner{
  position : absolute;
  top: 0 ;
  right: 0;
  background-color: white;
}

.btn-click-here {
  padding : 0px 0px;
  margin : 0px 0px;
}

.wait{
  width: 400px;
  margin: 0px auto 0px auto;
  position: relative;
}

#wait{
  max-width: 170px;
  animation: wait 1.5s;
  animation-direction: alternate;
  animation-iteration-count:infinite;
}



@keyframes wait {
  from {margin-left: -100px;}
  to {margin-left: 100px;}
}

@media (min-width: 768px) {
  .modal-box {
    left: calc(50% - 20rem);
    width: 40rem;
  }}