* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #212121;
}

body {
  font-family: "Sora", sans-serif;
  color: #212121;
}

/* Primary color #0e68fa */

/* tint #88a9ea */

/* button hover effect #002c9b */

/* whit background hover effect #e3e8f4; */

/* whit background hover effect alternative #f2f2f2 */

/* #f2f4f6 */

/* border #bbc0c5 */

/* shawdow #0000001a */

/* #0376c933 */

/* box shadow #555 */

/* Text color #757575 */
