header {
  margin-top: 8px;
}

.launch-content-header {
  text-align: left;
}

.launch-content-header h4 {
  color: #9e9e9e;
}

.launch-form-area {
  display: flex;
  /* margin-top: 36px; */
  align-items: flex-start;
  color: #000;
  border: 0.5px solid #bbc0c5;
}

.information-area {
  /* width: 60%; */
  /* margin-left: 48px; */
  flex: 1;
  align-self: start;
  /* margin-top: 2%; */
}

.information-form {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
}

.field-set {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

textarea {
  resize: none !important;
}

legend {
  font-size: 18px;
  padding: 0 10px;
}

.content-upload-area {
  width: 40%;
  text-align: left;
  align-self: center;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  margin-right: 8px;
}

.content-preview-header {
  /* text-align: left; */
  border-bottom: 1px solid #ced4da;
  background-color: #ced4da;
  padding: 16px;
}

.file-upload-area {
  padding: 16px;
}

.file-type-wrapper {
  /* text-align: left; */
  margin-bottom: 16px;
}

.content-display-container {
  /* height: 100%; */
  cursor: pointer;
  /* border: 1px solid #ced4da; */
  border-radius: 0.25rem;
  margin: 0px auto;
  text-align: center;
  color: #495057;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#displayContent {
  object-fit: scale-down;
  width: 100%;
  height: 90%;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
}

.price {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  width: 20%;
  margin-top: 16px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
.already-exist-content {
  margin-top: 16px;
  text-align: center;
}

.see-more-detail:link,
.see-more-detail:visited {
  color: #3b71fa;
}
.see-more-detail:hover {
  color: #0633a5;
}

.submit-button {
  border-radius: 100px;
  background-color: #fff;
  padding: 12px 24px;
  color: #000;
  font-size: 16px;
  font-weight: 900;
  transform: 0.2s all;
  cursor: pointer;
}
