.content-summary-item {
  max-width: 100%;
  display: inline-block;
  text-align: left;
  /* border-radius: 16px; */
  /* padding: 8px; */
  overflow: hidden;
  color: #757575;
}

.content-summary-item:link,
.content-summary-item:visited,
.content-summary-item:hover {
  color: #757575 !important;
}

.content-image-wrapper {
  position: relative;
  padding-bottom: 100%;
  border-radius: 8px;
  background-color: transparent;
}

.content-image {
  padding: 8px;
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: contain;
}

.content-info-wrapper {
  margin-top: 6px;
  padding: 0 16px;
}

.content-info {
  margin-bottom: 12px;
}

.content-title {
  color: #222;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content-hash {
  margin-bottom: 0;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content-price-wrapper {
  display: flex;
  align-items: flex-end;
  margin-bottom: 4px;
}

.content-price-wrapper .eth-cur-icon {
  font-size: 16px;
  margin-bottom: 4px;
  padding-right: 4px;
}

.ether {
  color: #222;
  padding-right: 2px;
}

.fiat {
  padding-bottom: 2px;
  font-size: 14px;
}

.content-owner {
  border-top: 0.5px solid #666;
  z-index: 999;
}

.content-owner p {
  width: 100%;
  padding: 4px 0px;
  border-top: 1px solid #fff;
  text-overflow: ellipsis;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
}

.content-info-wrapper a {
  transition: 0.4s all;
  color: #222;
}

.content-owner a:hover {
  color: #0e68fa;
  text-decoration: none;
  transition: 0.4s all;
}
