.nav-bar {
  position: fixed;
  height: 68px;
  width: 100%;
  top: 0;
  padding: 12px 48px;
  display: flex;
  justify-content: space-between;
  background-color: #212121;
  align-items: center;
  text-align: left;
  z-index: 99;
}

.left-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.search-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-left: 16px;
}

.search-icon {
  position: absolute;
  top: 8px;
  left: 10px;
  color: #fff;
}

.search-input {
  width: 680px;
  border: none;
  padding: 8px 8px 8px 36px;
  border: none;
  border-radius: 8px;
  background-color: #666;
  color: #fff;
}

.search-input:focus,
.search-input:hover {
  outline: none;
}

.search-input::placeholder {
  color: #888;
}

.right-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.menu-items > a {
  text-decoration: none;
}

.menu-item {
  margin: -4px 12px 0 6px;
  color: #ddd;
  font-size: 14px;
  font-weight: 400;
  transition: 0.4s all;
}

.btn-connect {
  margin-left: 6px;
  padding: 6px 16px;
  background-color: #eee;
  color: #000;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}

.profile-area {
  display: inline-block;
  position: relative;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
}

.profile-menu {
  display: none;
  position: absolute;
  top: 45px;
  right: 3px;
  width: 230px;
  padding: 8px 0;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #bbc0c5;
  box-shadow: 0 0 10px #0000002a;
}

.profile-menu div {
  color: #000;
}

.profile-area-button {
  color: #000;
  font-size: 16px;
  padding: 8px 16px;
}

.profile-area-button:hover {
  background-color: #e3e8f4;
}

.profile-logo {
  font-size: 16px;
  margin-right: 8px;
}

.profile-menu-divider {
  margin: 8px 0;
}

.profile-fund {
  padding: 8px 16px;
  display: flex;
  align-items: flex-start;
}

.profile-fund:hover {
  background-color: #e3e8f4;
}

.wallet-info {
  display: inline-block;
  max-width: calc(100% - 48px);
}

.wallet-address {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile-fund > i {
  margin-top: 10px;
  margin-right: 8px;
}

.wallet {
  display: flex;
}

.wallet > i {
  margin-left: -4px;
}

.show {
  display: block;
}
