.explore-wrapper {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.explore-header {
  display: flex;
  text-align: left;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 24px;
  align-items: center;
}

.content-area {
  height: 100%;
  margin-bottom: 32px;
}

.filter-area {
  display: inline-block;
  width: 320px;
  padding-right: 16px;
  /* background-color: red; */
  vertical-align: top;
  position: sticky;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-separator {
  width: 100%;
  height: 1px;
  background-color: #888;
  margin: 16px 0;
}

.content-lists-area {
  display: inline-block;
  width: calc(100% - 320px);
  height: 100%;
  /* background-color: blue; */
}

.explore-input-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
}

.input-icon {
  position: absolute;
  top: 6px;
  left: 10px;
  color: #fff;
}

.explore-input {
  width: 100%;
  padding: 8px 8px 8px 36px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  background-color: #666;
  margin-bottom: 0px;
}

.explore-input:focus,
.explore-input:hover {
  outline: none;
  background-color: #888;
}

.explore-input::placeholder {
  color: #fff;
}

.contents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(30%, 1fr));
  gap: 6px;
}

.no-contents {
  margin-top: 16px;
  text-align: center;
  font-size: 36px;
}

.btn-load-more-wrapper {
  width: 100%;
  margin: 16px auto;
  text-align: center;
}

.end-of-contents-text {
  margin-top: 16px;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}
