.explore-wrapper {
  width: 1280px;
  max-width: 100%;
  margin: 0 auto;
}

.explore-header {
  display: flex;
  text-align: left;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 24px;
  align-items: center;
}

.explore-content-tab-wrapper {
  border-bottom: 0.5px solid #888;
  margin-bottom: 24px;
  background-color: black;
}

.explore-content-tab {
  display: flex;
  margin-bottom: 24px;
  border-bottom: 0.5px solid #888;
}

.content-tab-item {
  margin-right: 16px;
  font-size: 16px;
  font-weight: 900;
  color: #666;
  cursor: pointer;
  transition: 0.2s all;
}

.content-area {
}

.filter-area {
  display: inline-block;
  width: 320px;
  padding-right: 16px;
  /* background-color: red; */
  vertical-align: top;
  position: sticky;
}

.sort-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-separator {
  width: 100%;
  height: 1px;
  background-color: #888;
  margin: 16px 0;
}

.content-lists-area {
  display: inline-block;
  width: calc(100% - 320px);
  height: 20vh;
  /* background-color: blue; */
}

.explore-input-wrapper {
  position: relative;
  /* width: 100%; */
  margin-bottom: 16px;
  border-radius: 16px;
  background-color: #888;
}

.input-icon {
  position: absolute;
  top: 8px;
  left: 10px;
}

.explore-input {
  width: 100%;
  padding: 8px 8px 8px 36px;
  /* border: none; */
  border-radius: 8px;
  font-size: 14px;
  background-color: #888;
}

.contents-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(30%, 1fr));
  gap: 6px;
}

.selected1 {
  border-bottom: 2px solid #ccc;
  color: #ccc;
}
